._*
.directory
.DS_Store
.localized
desktop.ini
Makefile
Thumbs.db
*.a
*.app
*.dll
*.exe
*.ilk
*.la
*.lai
*.lastbuildstate
*.lib
*.lo
*.manifest
*.mo
*.ncb
*.o
*.obj
*.out
*.pbxuser
*.pdb
*.Plo
*.po
*.res
*.sdf
*.suo
*.tlo
*.tlog
*.user
