._*
.directory
.DS_Store
.localized
debug/
release/
desktop.ini
Makefile*
moc_*.cpp
Thumbs.db
*.a
*.app
*.bundle
*.dll
*.dylib
*.exe
*.filters
*.framework
*.ilk
*.la
*.lai
*.lastbuildstate
*.lib
*.lo
*.manifest
*.mo
*.ncb
*.o
*.obj
*.out
*.pbxuser
*.pdb
*.Plo
*.po
*.res
*.sdf
*.so
*.status
*.suo
*.Tlo
*.tlog
*.user
*.vcproj
*.vcxproj
