._*
.directory
.DS_Store
.localized
build-*/
[Dd]ebug/
[Rr]elease/
desktop.ini
Makefile*
moc_*.cpp
Thumbs.db
*.a
*.apk
*.app
*.dll
*.dylib
*.exe
*.framework
*.ilk
*.lib
*.manifest
*.o
*.obj
*.pdb
*.res
*.so
*.user
